*{
  box-sizing:border-box
}

html,body{
  height:100%
}

body{
  margin:0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-image: url('../img/ceu.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:24px;
}

.container{
  width:fit-content;
  max-width:95%;
  background: #fff;
  display:flex;
  gap:0;
  border-radius:10px;
  overflow:hidden;
  box-shadow: 1px 1px 10px #000000;
}

.form-box{
  padding:36px;
  margin-right:130px;
}

.brand .logo{
  height:30px
}

h2{
  margin:6px 0 18px;font-size:20px
}

.register-form .row{
  display:flex;gap:14px;
  margin-bottom:12px
}

.register-form .row.small{
  gap:12px
}

.register-form .col{
  flex:1;display:flex;
  flex-direction:column
}

.register-form label{
  font-size:12px; 
  color:#9aa3ad;
  margin-bottom:6px
}

.register-form input{
  padding:10px 12px;
  border:1px solid #e6e9ec;
  border-radius:6px;
  font-size:14px
}

.actions{
  margin-top:18px
}

.btn-primary{
  background:linear-gradient(180deg, #d7eef9, #b9dbef);
  border:none;padding:12px 24px;
  border-radius:8px;
  box-shadow:0 6px 18px rgba(0,0,0,0.08);
  cursor:pointer;width:220px
}

.hero{
  background: #92c9e4;
  display:flex;
  align-items:center;
  justify-content:center;
  position: relative;
  width: 20rem;
}

.hero-inner{
  padding:24px
}

.hero-img{
  width:360px;
  border-radius:14px;
  box-shadow:0 10px 30px rgba(0,0,0,0.12);
  position: absolute;    
  top: 17%; 
  right: 40px;            /* puxa um pouco pra direita */
}

@media (max-width:900px){
  .container{grid-template-columns:1fr;}
  .hero{order:-1}
  .btn-primary{width:100%}
}
