.hero-servicos {
    text-align: center;
    padding: 60px 20px;
}

.hero-servicos h2 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 20px;
    color: #333333;
}

/* Listagem de serviços */

.pacotes-servicos {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 20px 15px;
}

.pacote{
    border: 1px solid #C4C7CD;
    color: #333333;
    border-radius: 12px;
    padding: 20px;
    width: 16.5rem;
    box-shadow: 0 8px 80px rgba(151, 151, 151, 0.1);
}

.title-planos {
    font-size: 24px;
    margin-bottom: 10px;
}

.p-planos {
    font-size: 13px;
    margin-bottom: 15px;
    height: 4rem;
}

.valores-planos {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 15px;
}

.preco-planos {
    font-size: 3rem;
    color: #333333;
    margin: 1rem auto;
}

.botao-inscrever, .blue-button:hover {
  padding: 15px 25px;
  border: 2px solid #333; 
  border-radius: 50px; 
  background: transparent;
  font-size: 13px;
  font-weight: 600;
  width: 95%;
  cursor: pointer;
  color: #333333;
  transition: 0.2s ease;
}

.botao-inscrever:hover, .blue-button {
  padding: 15px 25px;
  border: 2px solid #166EE1;
  border-radius: 50px; 
  background: #166EE1;
  font-size: 13px;
  font-weight: 600;
  width: 95%;
  cursor: pointer;
  color: #fff;
  transition: 0.2s ease;

}

.pacote > h4 {
    margin-top: 4rem;
    font-weight: 100;
}

.pacote > h4 > b {
    font-weight: bold;
}

.beneficios-planos {
    list-style-type: none;
    padding: 0;
    margin: 0;

    font-size: 12px;
}

.beneficios-planos li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.beneficios-planos li::before {
  content: "✔";
  font-size: 17px;
}

.color-verde {
    color: #5fcc6f;
}

.pacote > .valores-planos > div > p {
    font-size: 16px;
    line-height: 1;

}