
main {
    margin: 20px;
}

.hero-servicos {
    text-align: center;
    padding: 60px 20px;
}

.hero-servicos h2 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 20px;
    color: #333333;
}

/* Listagem de serviços */

.pacotes-servicos {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 20px 15px;
}

.pacote{
    border: 1px solid #C4C7CD;
    color: #333333;
    border-radius: 12px;
    padding: 20px;
    width: 19rem;
    box-shadow: 0 8px 80px rgba(151, 151, 151, 0.1);
}

.title-planos {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}

.p-planos {
    font-size: 13px;
    margin-bottom: 15px;
    height: 4rem;
}

.valores-planos {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    gap: 2px;
    margin-bottom: 15px;
}

.preco-planos {
    font-size: 3rem;
    color: #333333;
    margin: 1rem auto;
    font-weight: 600;
}

.botao-inscrever, .blue-button:hover {
  padding: 15px 25px;
  border: 2px solid #333; 
  border-radius: 50px; 
  background: #fff;
  font-size: 13px;
  font-weight: 600;
  width: 95%;
  cursor: pointer;
  color: #333333;
  transition: 0.2s ease;
}

.botao-inscrever:hover, .blue-button {
  padding: 15px 25px;
  border: 2px solid #166EE1;
  border-radius: 50px; 
  background: #166EE1;
  font-size: 13px;
  font-weight: 600;
  width: 95%;
  cursor: pointer;
  color: #fff;
  transition: 0.2s ease;

}

.pacote > h4 {
    margin-top: 4rem;
    font-weight: 400;
}

.pacote > h4 > b {
    font-weight: bold;
}

.beneficios-planos {
    list-style-type: none;
    padding: 0;
    margin: 0;

    font-size: 12px;
}

.beneficios-planos li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.beneficios-planos li::before {
  content: "✔";
  font-size: 17px;
}

.color-verde {
    color: #5fcc6f;
}

.pacote > .valores-planos > div > p {
    font-size: 16px;
    line-height: 1;

}

.pacote-black {
    background-color: #333333;
    color: #ffffff;
    border: none;
}

/* Logo das Parcerias */
.logo-parcerias {
    text-align: center;
    margin: 15rem 0 10rem;
}

.logo-parcerias p {
    font-size: 15px;
    margin-bottom: 10px;
    color: #808080;
}

.logo-parcerias img {
    max-width: 90%;
    height: auto;
}

/* Perguntas Frequentes */

.faq-container {
    max-width: 700px;
    color: #333333;
    margin: 60px auto;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.faq-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 25px;
}

.faq-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.faq-links a {
    font-size: 14px;
    text-decoration: none;
    color: #1b73e8; /* azul do print */
}

.faq-subtitle {
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: 500;

}

.faq-list {
    text-align: left;
}

details {
    border-bottom: 3px solid #c9c9c988;
    padding: 14px 18px;
    margin: 8px 0;
    cursor: pointer;
}

summary {
    font-size: 15px;
    font-weight: 600;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}