/* ======== Reset ======== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: 400;
}
:root {
  --nav-active-color: #254fad;
}

body {
  font-family: "Roboto", sans-serif; /* Define a fonte padrão usada no corpo do site */
  color: #181d26; /* Define a cor do texto */
  background-color: #fff; /* Define a cor de fundo da página */
  line-height: 1.5; /* Define a altura entre as linhas do texto */
}

/* ======== HEADER ======== */
header {
  background: #fff; /* Define a cor de fundo do cabeçalho */
}


/* ======== BOTÕES ======== */
.btn {
  padding: 8px 16px;
  border-radius: 8px; /* Arredonda os cantos do botão */
  font-weight: 500;
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  transition: all 0.3s ease; /* Cria uma transição suave em todas as propriedades animáveis */
}

.btn-primary {
  background: #254fad; /* Define o fundo azul principal */
  color: #fff;
  border: none; /* Remove a borda do botão */
}

.btn-primary:hover {
  background: #1d3f90;
}
.center-button {
  display: flex;
  justify-content: center; /* Centraliza o botão horizontalmente */
  width: 80%;
}
.btn-secondary {
  background: transparent; /* Torna o fundo transparente */
  border: 1px solid #254fad; /* Adiciona uma borda azul */
  color: #254fad;
}

.btn-secondary:hover {
  background: #254fad;
  color: #fff;
}

/* ======== HERO ======== */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 48px;
  background-image: url('../img/ceu.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 600px; /* Define a largura máxima da área de texto */
  margin-left: 60px;
}

.hero-content h1 {
  font-size: 60px;
  margin-bottom: 20px; 
  color:#112656;
}

.hero-content p {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
  width: 85%;
}

.hero img {
  max-width: 500px;
  width: 100%; /* Faz a imagem ocupar 100% do contêiner até o limite definido */
  border-radius: 8px;
  margin-right: 60px;
  
}
.empresas-parceiras {
  display: block;
  max-width: 700px;
  width: 100%;
  margin: 40px auto; /* Centraliza a imagem horizontalmente com margem superior e inferior */
}

/* ======== BENEFÍCIOS ======== */
/* ----- Seção Geral ----- */
.beneficios {
    width: 100%;
    padding: 0;
    background:white; 
    text-align: center;
}

/* Título */
.beneficios h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}

.beneficio-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1100px;
    margin: 40px 0 40px auto;;
    padding: 1rem;
    border-radius: 16px;
    background: #e7eef9;
    box-shadow: 0 2px 20px rgba(15, 48, 106, 0.395);
}

.beneficio-itemE {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 1rem;
    max-width: 1100px;
    margin: 40px 0;
    border-radius: 16px;
    background: #e7eef9;
    box-shadow: 0 2px 20px rgba(15, 48, 106, 0.395);
}

/* Alternar lado da imagem */
.beneficio-item:nth-child(even) {
    flex-direction: row-reverse;
}

/* Imagens */


@media (min-width: 500px) {
.beneficio-texto {
    width: 45%; 
}

  .beneficio-item img {
    height: 100%;
    max-width: min(50%, 20rem);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

.beneficio-itemE img {
    width: 30%;
    max-width: 320px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

}

/* Textos */
.beneficio-texto {
    text-align: center;
    justify-self: center;
}

.beneficio-texto h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.beneficio-texto p {
    font-size: 1rem;
    line-height: 1.5;
}

/* ======== FOOTER ======== */
footer {
  background: linear-gradient(90deg, rgba(5, 28, 141, 0.83), rgba(0, 131, 196, 0.83));
  color: #fff;
  padding: 3rem 1.5rem;
  display: flex;
}
.colunas {
  width: 100%;
  display: flex; 
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px; 
}

.coluna {
  padding: 1rem;
}

.colunas div p {
  margin-top: 15px; 
  font-size: 1rem; 
}

footer .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
footer .social img {
  width: 150px;
  cursor: pointer; 
  border-radius: 15px;
}

/* ======== RESPONSIVIDADE ======== */
@media (max-width: 900px) {
  .beneficio-item {
    flex-direction: row-reverse;
  }
  .beneficios h2 {
    font-size: 1.7;
    padding: 1rem;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .hero-content h1 {
    font-size: 2rem;
  }
}


.cta {
  margin-left: auto;
}

@media (max-width: 500px) {
  .nav--mobile--open .cta {
     grid-column: span 2;
  }

  .beneficio-item, .beneficio-itemE {
    display: flex;
    flex-direction: column !important;
  }

  .beneficio-item *, .beneficio-itemE * {
    width: 100%;
    /* border-radius: ; */
  }

  .beneficio-item img, .beneficio-itemE img {
    height: 10rem;
    object-fit: cover;
  }

  #taylor-img {
      object-position: top;
  }


  .beneficio-texto {
    padding: 1rem;
  }

    /* Alternar lado da imagem */
  .beneficio-item:nth-child(even) {
      flex-direction: column-reverse !important;
  }
}



.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem clamp(1em, 5vw, 4em);
  padding-bottom: 1rem;
}
.header--fixed {
  padding-top: 1.5em;
  position: fixed;
  inset: 0; /* shorthand para top:0; right:0; bottom:0; left:0 */
  z-index: 1000;
  overflow-y: hidden;
}
.header .nav {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  /* justify-content: space-between; */
}
.header .nav .nav__logo {
  width: 69px;
  height: auto;
}
.header .nav .nav__menu-button {
  padding: 1rem 0 1rem 1rem;
  display: none;
  background-color: transparent;
}
.header .nav .nav__menu-button svg {
  width: 1.5rem;
}
.header .nav .nav__list {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-size: 1rem;
  align-items: center;
}
.header .nav .nav__link {
  line-height: 1.5;
  padding-bottom: 0.5rem;
  font-weight: 400;
  position: relative;
    text-decoration: none; /* Remove o sublinhado dos links */
  font-size: 16px; /* Define o tamanho da fonte */
  font-weight: 500; /* Define o peso (espessura) da fonte */
  color: #181d26;
  transition: color 0.3s; /* Cria uma transição suave ao mudar a cor */
}
.header .nav .nav__link--active, .header .nav .nav__link:hover {
  color: var(--nav-active-color);
}
.header .nav .nav__link--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--nav-active-color);
}
.header .nav--mobile .nav__menu-button {
  display: block;
}
.header .nav--mobile--close .nav__list {
  display: none;
  appearance: none;
}
.header .nav--mobile--open {
  display: grid;
  grid-template-areas: "logo button" "list list";
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: fit-content;
}
.header .nav--mobile--open .nav__list {
  width: 100%;
  grid-area: list;
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
  padding-top: 3.875rem;
  gap: 2rem;
}
.header .nav--mobile--open .nav__item {
  width: 100%;
}
.header .nav--mobile--open .nav__link {
  display: block;
  color: #6C757D;
}
.header .nav--mobile--open .nav__link--active {
  color: #254fad;
}
.header .nav--mobile--open .nav__link--active::after {
  background-color: #254fad;
}
.header .nav--mobile--open .nav__menu-button {
  grid-area: button;
  justify-self: end;
  color: #254fad;
}
.header .nav--mobile--open .nav__menu-button svg {
  width: 20px;
  height: 20px;
}
.header .nav--mobile--open .nav__logo-link {
  grid-area: logo;
}